.post-editor{
   margin:0 20%;
  }
  .centered{
    text-align: center;
  }
  @media(max-width: 900px){
    .post-editor{
      margin: 1em;
    }
  }

   .post-editor-button{
      float:right;
      margin-top: 10px;
    }  

    .user-name{
      margin-bottom:20px;
    }